$primary-color: #f46b45;
$secondary-color: #eea849;

$primary-text: #474747;
$secondary-text: #cacaca;

@mixin theme-gradient{
    background: linear-gradient(to bottom, $secondary-color, $primary-color);
}